<mat-toolbar color="primary">
  <span>LIBLIO</span>
</mat-toolbar>

<div class="container">
  <form class="search-form" [formGroup]="searchForm" style="max-width: 1080px; margin: 0 auto;">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>キーワード</mat-label>
      <input matInput type="search" formControlName="keyword">
    </mat-form-field>
    <button mat-raised-button>検索</button>
  </form>

  <app-book-table [books]="books$ | async"></app-book-table>

  <p>{{searchForm.get('keyword')?.value}}</p>
</div>


